.songDisplay {
  height: 100%;
  /*padding-top: 105px;*/
  user-select: none;
}

.songInfo {
  height: 140px;
  padding: 20px;
  background-color: #150019;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songInfo hr {
  width: 80%;
}

.phrase {
  height: 100%;
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.phrase h1 {
  margin: 0 1em -2em 1em;
  text-align: center;
}
