body, #react-app-root {
  margin:0;
  padding:0;
  height: 100vh;
  min-height: 100%;
  box-sizing:border-box;
  font-family: sans-serif;
  color: #150019;
  background-color: #FCFCFC;
}

.container {
  height: calc(100vh - 110px);
  min-width: 450px;
  min-height: 650px;
  margin: auto;
  /*margin-top: -105px;*/
  width: 85%;
  border: 2px solid #150019;
  border-bottom: none;
  border-top: none;
}
